body {
    background-color: #0e1a40;
    color: 	#d2d2d2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    /* font-size: clamp(1rem, 2vw); */
    /* font-size: 20%; */
    /* font-size: clamp(1.6vh, 1.6vh, 1vw); */
    font-size: 1.05rem;
    overflow-y: auto;
}

.card {
    /* background-color:#000000; */
    color: white;
}

.battle-pokemon {
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
}

.player-card {
    /* max-width: 40vh; */
    /* background-color: #f44336; */
}

.enemy-move-type {
    max-height: 4vh;
}

.player-move-type {
    max-height: 6vh;
}

.pokemon-type {
    max-height: 4vh;
}

.pokemon-counter-type {
    max-height: 4vh;
    /* width: auto; */
}

.pokemon-ability {
    /* background-color: #f44336; */
    min-height: 23vh;
    max-height: 23vh;
    /* font-size: 1rem; */
}

.enemy-ability {
    background-color: #f44336;
    max-height: 15vh;
}

.move-stat-icon {
    max-height: 3vh;
}

.move-desc {
    margin-top: -2vh;
}

.rotate-enemy-text {
    /* display: inline-block; */
    transform: rotate(90deg);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    /* transform-origin: center; */
    /* margin-bottom: 2rem; */
    /* white-space: nowrap; */
    padding: 0.1rem 0.1rem;
}

.rotate-player-text {
    /* display: inline-block; */
    transform: rotate(-90deg);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    /* transform-origin: center; */
    /* margin-bottom: 2rem; */
    /* white-space: nowrap; */
    padding: 0.1rem 0.1rem;
}

.nav-link {
    margin: 0.2rem 0rem;
    padding: 0.1rem 0.1rem;
}

.counter-icon {
    min-width: 2vw;
    max-width: 2.5vw;
}

.party-pokeballs {
    max-width: 4vw;
}

.nav-pills .nav-link.active.dropdown-item {
    background-color: #0e1a40;
    color: #d2d2d2;
  }

.nav-pills .nav-link.dropdown-item {
    color: #0e1a40;
  }



/* .nav-pills .nav-link {
    color: #0e1a40;
  } */
